<% var error %> 
<% var user %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body> 

    <section class="mt-4 p-4">
        <div class="container mt-5">
            <h1 class="text-center">Kirish</h1>
            <div class="row mt-4 justify-content-center">
                <div class="col-12 col-lg-4">
                    <% if(error) {%>
                    <div class="alert alert-danger"><%= error%></div>
                    <% } %>
                    <form method="POST">
                        <input
                            type="text"
                            class="form-control form-control-lg my-3"
                            placeholder="Username"
                            name="username"
                            required
                        />
                        <input
                            type="password"
                            class="form-control form-control-lg my-3"
                            placeholder="Parolingiz"
                            name="password"
                            required
                        />
    
                        <button class="btn w-100 btn-primary btn-lg">Kirish</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>