/*==================== Color Styles ====================*/
.color-white {
    color: $color-white;
}

.color-white-bg {
    background: $color-white;
}

.color-black {
    color: $color-black;
}

.color-black-bg {
    background: $color-black;
}

.color-grey {
    color: $color-grey;
}

.color-grey-bg {
    background: $color-grey;
}

.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background: $color-primary;
}

.color-gradient {
    color: $color-gradient;
}

.color-gradient-bg {
    background: $color-gradient;
}

.color-yellow {
    color: $color-yellow;
}

.color-yellow-bg {
    background: $color-yellow;
}